.bg-light-gray{
    background-color: lightgray;
}

.bg-light-gray .justify-content-between p{
    cursor: pointer;
}

.fa-xmark{
    cursor: pointer;
}

.text-decoration{
    text-decoration:line-through;
}